
@font-face {
  font-family: Kantumruy;
  src: url("fonts/Kantumruy-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url("fonts/KantumruyPro-Regular.ttf");
  size-adjust: 115%;
}

*:not(.fas):not(.fab) {
  font-family: Roboto,Kantumruy, serif;
}

body {
  margin: 0;
  font-family: Kantumruy, "Helvetica Neue", sans-serif;
}
